.birthday-card{
    background-color: rgba(77, 198, 183, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    color:beige;
    padding: 20px 20px;
    text-align: right;
    border: none;
    border-radius: 20px;  
    position: relative; 
    
    
   
}

.cake-image{
   height: 100%;  /*heldur hlutföllunum á myndinni réttum*/
   width: 550px;
   display:flex;
   border: none;
   border-radius: 20px;
   position:relative;
   
    
}

.greeting{
    font-size: 1.2em;
    margin-bottom: 15px;
    display:flex;
    position:absolute;
    top: 50%;
    left: 50%;
   
   
   
}